Negative alerts:<br />
{{each alerted_projects.negativeAlerts}}
{{loop_vars.negativeAlerts.projectName}}:
{{each loop_vars.alerted_projects.negativeAlerts.keywordAlerts}}
{{loop_vars.negativeAlerts.keywordAlerts.alertLine}}<br />
{{end}}
<br />
{{each loop_vars.alerted_projects.negativeAlerts.groupAlerts}}
{{loop_vars.negativeAlerts.groupAlerts.alertLine}}<br />
{{end}}
{{end}}
<br /><br />
Positive alerts:<br />
{{each alerted_projects.positiveAlerts}}
{{loop_vars.positiveAlerts.projectName}}:
{{each loop_vars.alerted_projects.positiveAlerts.keywordAlerts}}
{{loop_vars.positiveAlerts.keywordAlerts.alertLine}}<br />
{{end}}
<br />
{{each loop_vars.alerted_projects.positiveAlerts.groupAlerts}}
{{loop_vars.positiveAlerts.groupAlerts.alertLine}}<br />
{{end}}
{{end}}
