Negative alerts:<br />
{{each alerted_projects.negativeAlerts}}
{{loop_vars.negativeAlerts.projectName}}:
{{each negativeAlerts.keywordAlerts}}
{{loop_vars.keywordAlerts.alertLine}}<br />
{{end}}
<br />
{{each negativeAlerts.groupAlerts}}
{{loop_vars.groupAlerts.alertLine}}<br />
{{end}}
{{end}}
<br /><br />
Positive alerts:<br />
{{each alerted_projects.positiveAlerts}}
{{loop_vars.positiveAlerts.projectName}}:
{{each positiveAlerts.keywordAlerts}}
{{loop_vars.keywordAlerts.alertLine}}<br />
{{end}}
<br />
{{each positiveAlerts.groupAlerts}}
{{loop_vars.groupAlerts.alertLine}}<br />
{{end}}
{{end}}